html, body{
    height: 100%;
    background: linear-gradient(#ff3131, #ff914d);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.logo{
   height: auto;
   width: 250px;
    

}
.header{
    height: 100vh;
    color: white;
    position:relative;
}
.container{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 60px;
}